<div ng-app="bookingManager">
	<div ng-show="successAlert" class="alert alert-success alert-dismissible" role="alert" ng-click="hideSuccessAlert()">
		<alert type="danger">{{successAlert}}</alert>
	</div>
</div>

<div ng-app="bookingManager">
	<div ng-show="errorAlert" class="alert alert-danger alert-dismissible" role="alert" ng-click="hideErrorAlert()">
		<alert type="danger">{{errorAlert}}</alert>
	</div>
</div>


<ul class="list-group">

    <div ng-repeat="hotel in hotels">
        <li class="list-group-item">
            <a href="#!/hotel/{{hotel.id}}"><h2>{{hotel.name}}</h2></a>
            <span class="badge badge-primary badge-pill">Rooms in total: {{hotel.roomCount}}</span>
            <h4>{{hotel.address}}</h4>
        </li>
    </div>
</ul>

