<div ng-app="bookingManager">
    <div ng-show="errorAlert" class="alert alert-danger alert-dismissable" ng-click="hideErrorAlert()">
        {{errorAlert}}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
</div>

<div ng-app="bookingManager">
    <div ng-show="successAlert" class="alert alert-success alert-dismissable" ng-click="hideSuccessAlert()">
        {{successAlert}}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
</div>


<ul class="list-group">

    <div ng-repeat="hotel in hotels">
        <li class="list-group-item">
            <a href="#!/hotel/{{hotel.id}}"><h2>{{hotel.name}}</h2></a>
            <span class="badge badge-primary badge-pill">Rooms in total: {{hotel.roomCount}}</span>
            <h4>{{hotel.address}}</h4>
        </li>
    </div>
</ul>

