<div class="row">
    <h2>{{hotel.name}}</h2>
    <h4>{{hotel.address}}</h4>
</div>

<div class="row">
    <form name="form" ng-controller="AvailableRoomsController" novalidate>
        <div class="row">
            <div class="form-group" ng-class="{ 'has-error': !(form.from.$valid) }">
                <label for="from" class="control-label col-sm-2">From:</label>
                <div class="col-sm-5">
                    <input ng-model="from" id="from" class="date" type="date" name="from" min="today" required/>
                </div>
                <div class="col-sm-5">
                    <p ng-show="form.from.$error.required" class="help-block">From date is required.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group" ng-class="{ 'has-error': !(form.from.$valid) }">
                <label for="to" class="control-label col-sm-2">To:</label>
                <div class="col-sm-5">
                    <input ng-model="to" id="to" class="date" type="date" name="to" min="today" required/>
                </div>
                <div class="col-sm-5">
                    <p ng-show="form.from.$error.required" class="help-block">To date is required.</p>
                </div>
            </div>

        </div>
        <button type="submit" ng-disabled="!form.$valid" ng-click="vacancies(hotel)">Determine vacant rooms</button>
    </form>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="room in hotel.rooms">
        <div class="thumbnail">
            <img ng-src="{{room._links.image.href}}"><br>
            <div class="caption">
                <div class="btn-group" role="group" aria-label="...">

                <div ng-controller="RoomBookingController">
                    <button type="button" ng-click="book(room)" class="btn btn-primary">Book room No. {{room.number}}</button>
                </div>
                <div ng-controller="PopoverController">
                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{room.description}}">
                        <span class="glyphicon glyphicon-info-sign"></span> Details
                    </button>
                </div>
                </div>
                <span class="label label-success" style="float:right;"><h6>${{room.recommendedPrice}}</h6></span>
            </div>
        </div>
    </div>
</div>


