<div class="row">
    <h3>{{hotel.name}}</h3>
    <p>{{hotel.address}}</p>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="room in hotel.rooms">
        <a href="#!/room/{{room.id}}">
            <div class="thumbnail">
                <img ng-src="{{room._links.image.href}}"><br>
                <div class="caption" style="clear: both">
                    <h3 style="float: left">No. {{room.number}}</h3>
                    <h3 style="float: right">${{room.recommendedPrice}}</h3>
                </div>
                <hr />
            </div>
        </a>
    </div>
</div>

<div ng-app="app" ng-controller="ctrl">
    <form ng-submit="save($element.action)">
        <input type="date" name="from"/>
        <input type="date" name="to"/>
        <button type="submit">Send Message</button>
    </form>
</div>