<div class="row">
    <div class="col-xs-6">
        <h2>Room No. {{room.number}}</h2>
        <p>{{room.description}}</p>
        <p>${{room.recommendedPrice}}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <img class="img-responsive img-rounded" ng-src="{{room._links.image.href}}" >
    </div>
</div>

<div class="row">
    <form name="bookingForm" ng-controller="RoomBookingController" novalidate>
        <input type="date" value="{{fromDate}}" readonly required/>
        <input type="date" value="{{toDate}}" readonly required/>
        <button  ng-disabled="!bookingForm.$valid" type="submit" ng-click="book(room)">Book this room!</button>
    </form>
</div>
