<div ng-app="bookingManager">
    <div ng-show="errorAlert" class="alert alert-danger alert-dismissable" ng-click="hideErrorAlert()">
        {{errorAlert}}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
</div>

<div ng-app="bookingManager">
    <div ng-show="successAlert" class="alert alert-success alert-dismissable" ng-click="hideSuccessAlert()">
        {{successAlert}}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
</div>

<div class="table-responsive">
    <table data-sort-name="user" data-sort-order="desc" data-toggle="table" class="table table-striped table-sm">
        <thead>
            <tr>
                <td>User</td>
                <td>Hotel</td>
                <td>Room</td>
                <td>Total</td>
                <td>From</td>
                <td>To</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="booking in bookings">
                <td data-field="user" data-sortable="true" class="col-md-6">
                    <span>{{booking.usr.email}}</span>
                </td>
                <td class="col-md-12" data-field="hotel" data-sortable="true">
                    <a href="#!/admin/hotel/{{booking.room.hotel.id}}"><span>{{booking.room.hotel.name}}</span></a>    
                </td>
                <td class="col-md-6">
                    <a href="#!/room/{{booking.room.id}}"><span>{{booking.room.number}}</span></a>    
                </td>
                <td class="col-md-6" data-field="total" data-sortable="true">
                    <span>{{booking.total}}</span>
                </td>
                <td class="col-md-6">
                    <span>{{dateToString(booking.fromDate)}}</span>
                </td>
                <td class="col-md-6">
                    <span>{{dateToString(booking.toDate)}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
