<h1>Bookings for user {{user.firstName}} {{user.surname}}</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="booking in user.bookings">
		<div class="thumbnail">
			<img ng-src="{{booking.roomData._links.image.href}}"><br>
			<div class="caption" style="clear: both">
				<h3 style="float: left">No. {{booking.room.number}} of hotel {{booking.room.hotel.name}}</h3>
				<h3 style="float: right">${{booking.total}}</h3>
			</div><br>
			<div class="caption" style="clear: both">
				<h4>From: {{booking.fromDate.dayOfMonth}} {{booking.fromDate.month}} {{booking.fromDate.year}}</h4>
				<h4>To: {{booking.toDate.dayOfMonth}} {{booking.toDate.month}} {{booking.toDate.year}}</h4>
			</div>
			<hr />
		</div>
	</div>
</div>